In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = (
    pd.read_csv('../../data/raw/AirQualityUCI.csv', sep=";")
    .drop(columns=["Unnamed: 15","Unnamed: 16"])
    .rename(columns={"CO(GT)":"CO", "PT08.S1(CO)": "Tin Oxide", "NMHC(GT)": "Avg. Benzene", "PT08.S2(NMHC)": "Titania", "NOx(GT)": "Avg. NO in ppb", "PT08.S3(NOx)": "Tungsten Oxide", 
                     "NO2(GT)": "NO2", "PT08.S4(NO2)": "Hr Avg. Tungsten Oxide", "PT08.S5(O3)": "Indium Oxide"})
    .dropna().reset_index(drop=True)
    .loc[:, ["Tin Oxide", "Titania", "Tungsten Oxide", "Indium Oxide", "T"]]
)

df

      Tin Oxide  Titania  Tungsten Oxide  Indium Oxide     T
0        1360.0   1046.0          1056.0        1268.0  13,6
1        1292.0    955.0          1174.0         972.0  13,3
2        1402.0    939.0          1140.0        1074.0  11,9
3        1376.0    948.0          1092.0        1203.0  11,0
4        1272.0    836.0          1205.0        1110.0  11,2
...         ...      ...             ...           ...   ...
9352     1314.0   1101.0           539.0        1729.0  21,9
9353     1163.0   1027.0           604.0        1269.0  24,3
9354     1142.0   1063.0           603.0        1092.0  26,9
9355     1003.0    961.0           702.0         770.0  28,3
9356     1071.0   1047.0           654.0         816.0  28,5

[9357 rows x 5 columns]